$primary-color: #fff;
$secondary-color: #d1d1d1;
$accent-color: #ff0000;
$accent-color-2: #00ff00;
$accent-color-3: #0000ff;
$font-family-xl: "Alef";
$font-family-md: "Exo";
$font-family: "Biryani";
$font-size-xl: 3.3em;
$font-size-md: 2.5em;
$font-size: 1.25em;


@font-face {
    font-family: 'Alef';
    src: url('fonts/Alef-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Biryani';
    src: url('fonts/Biryani-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: $font-family;
    font-size: $font-size;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: $font-size-xl;
    font-family: $font-family-xl;
}

h2 {
    font-size: $font-size-xl;
    font-family: $font-family-xl;
}

h3 {
    font-size: $font-size-md;
    font-family: $font-family-md;
}

@mixin display-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin align-items($align: center) {
    -webkit-box-align: $align;
    -webkit-align-items: $align;
    -ms-flex-align: $align;
    align-items: $align;
}