$primary-color: #fff;
$secondary-color: #d1d1d1;
$accent-color: #ff0000;
$accent-color-2: #00ff00;
$accent-color-3: #0000ff;
$primary-font: 'fonts/Alef-Regular.ttf';
$secondary-font: 'fonts/Exo-VariableFont_wght.ttf';
$accent-font: 'fonts/Biryani-Regular.ttf';
$font-size: 1em;
$big-font-size: 2em;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: $accent-font;
    font-size: $font-size;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}