@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: $font-family;
    font-size: $font-size;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}
h1 {
    margin-bottom: 2rem;
    font-size: xxx-large;
    font-family: $font-family-xl;
    letter-spacing: 1.4pt;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: xx-large;
    font-family: $font-family-md;
    letter-spacing: 1.2pt;
}

h3 {
    font-size: xx-large;
    font-family: $font-family-md;
    letter-spacing: 1.2pt;
}

p {
    letter-spacing: 1pt;
    font-size: normal;
    font-family: $font-family;
    color: silver;
}